
* {
    box-sizing: border-box;
}
body{
    background-color: rgb(174,174,174);
    display:flex;
    flex-direction: column;
    gap:1rem;
}
header{/*Element or type selector*/
    display:flex;
    width:100%;/*relative width*/
    height:4.5rem;/*relative height*/
    /*height:100px  fixed height*/
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

.logo{
    background-color: blueviolet;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right:10px
    
}

ul{
    display:flex;
    font-size: 1.5rem;
    gap:2rem;
    list-style: none;
   
}
nav ul li:first-child{
    font-weight: bold;
}
main{
    display:flex;
    flex-direction: column;
    gap:1rem
}
section{
    display:flex;
    width:100%;
    height:30rem;
    background-color: white;
    
}
aside{
    display:flex;
    width: 100%;
    height:30rem;
    background-color: white;
    border:1px solid black;
    gap:0.5rem;
    padding: 0px 10px;
    flex-direction:column
}

aside ol li{
    list-style: lower-roman;
    font-size: 20px;
    padding: 7px 0px
}
footer{
    background-color: white;
    height:10rem;
    
}
form{
    
    display: flex;
    flex-direction: column;
    width:100%;
    padding:5px 40px;
    
    gap: 1rem;  
}
form h2{
    align-self: center;
}

form input{
    display: flex;
    width: 90%;
    height:3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding:0 10px;
    align-items: center;
   
   
}
form label{
    font-size: 2rem;
}
form input::placeholder{
    font-size: 1.5rem;
    line-height: 3rem;
}
.description{
    font-size: 30px;
}
.submit-button{
    padding: 15px 10px;
    background-color: blueviolet;
    border: none;
    color: white;
    width:30%;
    align-self:center;
    font-size:1rem;
    cursor: pointer;
    
}
.submit-button:hover{
    background-color: rgb(82, 23, 136);
}
td, th, tr{
    border: 1px solid black !important;
    font-size: 1.5rem;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 70%;
    
}
.box_model{
    display: flex;
    gap: 0;
    
    flex-direction: column;
    align-items: center;
}


.box{
    margin: 3rem;
    width: 40%;
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
    
}
